# Project exclude paths
/mybatis_02/target/
/mybatis_03_homework3/target/
/mybatis_03_zhujie/target/
/MyBatis_MBG/target/
/mybatis_news01/target/
/target/
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.classpath
.project
.settings
target
.idea
*.iml