<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.mapper.CacheMapper">
    <cache/>
    <select id="searchNewsById" resultType="News1">
        select * from news_1 where id=#{id}
    </select>
</mapper>